html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 1em;
    background: #2a2f42;
}

.content {
    height: 10em;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

div.input-div {
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

div.write-div {}

input[data-encode-error=1] {
    background: tomato;
    color: white;
}

input.write-input {
    width: 90%;
    border: none;
    padding: 1em;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 5px #ccc;
    font-size: 0.5em;
    text-align: center;
}

div.write-btn {}

div.write-btn>div {
    display: inline-block;
    width: 30%;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 5px;
    color: white;
}

div.encode-btn {
    background: tomato;
    box-shadow: 0 0 10px tomato;
}

div.decode-btn {
    background: seagreen;
    box-shadow: 0 0 10px seagreen;
}

input.decode-input {
    color: white;
    text-shadow: 0 0 5px white;
    background: seagreen !important;
}

input.encode-input {
    color: white;
    text-shadow: 0 0 5px white;
    background: tomato !important;
}

input.result-input {
    margin: 0 auto;
    font-size: 0.5em;
    background: #bbb;
}

input{
    transition: all 1s linear;
    -webkit-transition: all 1s linear;
}

input:focus {
    outline-offset: 0px;
    outline-offset: 0px;
    border: none;
    outline: none;
    box-shadow: 0 0 50px #ccc;
}